<h1>Employees</h1>
<form [formGroup]="queryEmployeesForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="employeeId">Employee ID:&nbsp;</label>
    <input type="text" formControlName="employeeId" id="employeeId" autocomplete="off">
  </div>
  <br />
  <div *ngIf="invalidData" class="alert alert-warning alert-dismissible fade show">
    <strong>Warning!</strong> {{errorMessage}}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  <button class="btn btn-primary" [disabled]="disabledButton">Get Employees</button>
  <br />
  <br />
  <table class='table table-striped' *ngIf="employees">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Contract Type Name</th>
        <th>Role Id</th>
        <th>Role Name</th>
        <th>Role Description</th>
        <th>Hourly Salary</th>
        <th>Monthly Salary</th>
        <th>Annual Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.Id }}</td>
        <td>{{ employee.Name }}</td>
        <td>{{ employee.ContractTypeName }}</td>
        <td>{{ employee.RoleId }}</td>
        <td>{{ employee.RoleName }}</td>
        <td>{{ employee.RoleDescription }}</td>
        <td>{{ employee.HourlySalary }}</td>
        <td>{{ employee.MonthlySalary }}</td>
        <td>{{ employee.AnnualSalary }}</td>
      </tr>
    </tbody>
  </table>
</form>
